<!-- <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
</head>
<body>
<div id="app">
    <h1>Cities</h1>
    <ul>
        <li v-for="city in cities">{{city.id}}</li>
    </ul>
</div>

<script src="js/main.js"></script>
</body>
</html> -->


<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
          integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <title>Hello, world!</title>
</head>
<body>

<div class="container" id="app">
    <div class="input-group mb-3 mt-3">
        <div>
            <input type="text" class="form-control" placeholder="Name new city"
                   aria-label="Name new city" aria-describedby="basic-addon2">
        </div>

        <input type="text" class="form-control" placeholder="Information"
               aria-label="Information" aria-describedby="basic-addon2">

        <div class="input-group-append">
            <button class="btn btn-primary" type="submit">Add city</button>
        </div>
    </div>

    <table class="table">
        <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">CITY</th>
            <th scope="col">INFORMATION</th>
            <th scope="col"></th>
            <th scope="col"></th>
        </tr>
        </thead>
        <tbody>
        <tr v-for="city in cities">
            <td>{{city.id}}</td>
            <td>{{city.name}}</td>
            <td>{{city.info}}</td>
            <td>
                <button type="submit" class="btn btn-outline-success">Edit</button>
            </td>
            <td>
                <button type="submit" class="btn btn-outline-danger">Delete</button>
            </td>

        </tr>
        </tbody>
    </table>
</div>

<script src="js/main.js"></script>
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
        integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
        crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"
        integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI"
        crossorigin="anonymous"></script>
</body>
</html>